In [14]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv('data/job-content.csv')

In [29]:
df.shape

(88, 9)

In [30]:
df.head()

,title,company,location,classification,sub_classification,salary,work_type,posted_date,description
0,Data Consultant (SA/WA/NT),Australian Research Data Commons,Adelaide,Education & Training,Library Services & Information Management,"University of Adelaide HEO8 ($100,261 - $112,481)",Contract/Temp,8h,"<div class=""yvsb870 _1v38w810"">\n <p>\n The A..."
1,RQmedia - SEM expert - Google,Dynamic Creative,Adelaide,Marketing & Communications,Digital & Search Marketing,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <p>\n <stro..."
2,Senior Data Analyst,SA Health,Adelaide,Information & Communication Technology,Business/Systems Analysts,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <ul>\n <li>..."
3,ASO6 Data Analyst (Multiple Positions),Department for Education,Adelaide,Science & Technology,"Mathematics, Statistics & Information Sciences",0,Contract/Temp,10d,"<div class=""yvsb870 _1v38w810"">\n <p>\n The D..."
4,Senior Data Analyst,SA Health,Adelaide,Government & Defence,Government - State,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <ul>\n <li>..."

In [31]:
df.columns

Index(['title', 'company', 'location', 'classification', 'sub_classification',
       'salary', 'work_type', 'posted_date', 'description'],
      dtype='object')

In [32]:
df.location.value_counts()

Adelaide    88
Name: location, dtype: int64

In [33]:
df.classification.value_counts()

Information & Communication Technology    49
Government & Defence                      11
Manufacturing, Transport & Logistics       5
Science & Technology                       4
Education & Training                       3
Consulting & Strategy                      3
Accounting                                 3
Marketing & Communications                 2
Banking & Financial Services               2
Human Resources & Recruitment              2
Mining, Resources & Energy                 1
Call Centre & Customer Service             1
Real Estate & Property                     1
Healthcare & Medical                       1
Name: classification, dtype: int64

In [34]:
df.sub_classification.value_counts()

Business/Systems Analysts                         30
Other                                              8
Government - State                                 5
Analysis & Reporting                               5
Developers/Programmers                             4
Government - Federal                               4
Consultants                                        4
Database Development & Administration              3
Mathematics, Statistics & Information Sciences     3
Analysts                                           3
Purchasing, Procurement & Inventory                3
Library Services & Information Management          2
Management                                         2
Help Desk & IT Support                             2
Digital & Search Marketing                         2
Engineering - Software                             2
Production, Planning & Scheduling                  1
Mining - Exploration & Geoscience                  1
Financial Accounting & Reporting                   1
Remuneration & Benefits                            1
Programme & Project Management                     1
Management & Change Consulting                     1
Name: sub_classification, dtype: int64

In [35]:
df.company.value_counts()

SA Health                                         6
Department of Defence                             4
Westpac Group                                     3
RAA                                               3
Australian Research Data Commons                  2
                                                 ..
Dynamic Creative                                  1
Morton Philips                                    1
Hudson - Technology, Projects & Transformation    1
Ignite                                            1
Randstad Technologies                             1
Name: company, Length: 61, dtype: int64

In [75]:
df_job.posted_date.value_counts()

6d      46
2d      38
8d      36
15d     33
9d      30
13d     29
16d     28
10d     27
7d      24
22d     23
20d     23
1d      23
14d     22
28d     19
21d     18
3d      18
23d     18
17d     15
27d     13
29d      8
9h       6
8h       5
30d+     4
25d      3
5d       3
6        1
7h       1
12d      1
26d      1
11d      1
18d      1
4d       1
5h       1
23h      1
21h      1
6h       1
Name: posted_date, dtype: int64

In [25]:
df.work_type.value_counts()

Full time        18
Contract/Temp     4
Name: work_type, dtype: int64

In [26]:
df.salary.value_counts()

0                                                    17
$ 112, 617 - $ 124, 466                               2
University of Adelaide HEO8 ($100,261 - $112,481)     1
$80,000 - $120,000                                    1
Competitive Salary & Allowances                       1
Name: salary, dtype: int64

In [27]:
df.description[0]

'<div class="yvsb870 _1v38w810">\n <p>\n  The Australian Research Data Commons (ARDC) is a transformational initiative that is enabling access to nationally significant, leading edge data intensive eInfrastructure, platforms, skills and collections of high-quality data for the Australian research community and industry.\n </p>\n <p>\n  The purpose of the ARDC is to provide Australian researchers with a competitive advantage through data.\n </p>\n <p>\n  We are looking to welcome to the team an experienced and highly effective individual to the position of\n  <strong>\n   Data Consultant\n  </strong>\n  . You will understand the research sector in Western Australia, South Australia and the Northern Territory.\xa0 You will have experience working in a commonwealth funded research environment and be able to bring your skills and knowledge to the role to help advance the ARDC’s mission in WA, SA and the NT.\n </p>\n <p>\n  <strong>\n   The purpose of this key role is to work at international, national, and local levels with current and prospective partners to communicate ARDC’s capabilities, identify upcoming research challenges and potential solutions, and build communities that promote best practice in activities relating to ARDC’s data, platform, infrastructure, and skills programs.\n  </strong>\n </p>\n <p>\n  In this role you will\xa0experience a diverse range of exciting challenges in a unique and fast paced environment.\xa0 We can guarantee that no day will be the same!\n </p>\n <p>\n  The ideal candidate will have a PhD or comparable experience working in academic research and/or a thorough understanding of the research process. They will have worked in or closely with (local/national/international) research organisations and facilities and will have successfully engaged with diverse groups of stakeholders within institutions, research facilities and/or research groups.\n </p>\n <p>\n  On offer is a competitive remuneration package depending on the successful candidates skills and experience. This role is employed through the University of Adelaide and is based in Adelaide. While this role is primarily based in South Australia it is also responsible for WA and NT engagements and some national programs and domestic and international travel may be required.\n </p>\n <p>\n  You can access the Position Description here:\n </p>\n <p>\n  https://bit.ly/ARDCdataconsultant\n </p>\n <p>\n  If you would like to find out more about the role please contact:\n </p>\n <p>\n  Keith Russell, Manager Engagements on\n  <a data-contact-match="true" href="tel:0427 452 342">\n   0427 452 342\n  </a>\n  or via email\n  <a data-contact-match="true" href="mailto:keith.russell@ardc.edu.au">\n   keith.russell@ardc.edu.au\n  </a>\n </p>\n <p>\n  Applications close on Friday 10 June 2022.\n </p>\n <p>\n  <strong>\n   To submit an application please click \'Apply for this job\' and include your current CV, response to the Key Selection Criteria from the Position Description and two referees. Please address applications to Keith Russell.\n  </strong>\n </p>\n <p>\n  <strong>\n   No agencies please\n  </strong>\n </p>\n</div>'