In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/job-content.csv')

In [8]:
df.shape

(528, 1)

In [9]:
df.columns

Index(['link'], dtype='object')

In [10]:
df

                                                  link
0    https://www.seek.com.au//job/57009338?type=pro...
1    https://www.seek.com.au//job/56834934?type=pro...
2    https://www.seek.com.au//job/57015411?type=sta...
3    https://www.seek.com.au//job/56903759?type=sta...
4    https://www.seek.com.au//job/56903760?type=sta...
..                                                 ...
523  https://www.seek.com.au//job/56703498?type=sta...
524  https://www.seek.com.au//job/56696542?type=sta...
525  https://www.seek.com.au//job/57013164?type=sta...
526  https://www.seek.com.au//job/56972849?type=sta...
527  https://www.seek.com.au//job/56953060?type=sta...

[528 rows x 1 columns]

In [30]:
df['link'].value_counts()

https://www.seek.com.au//job/56797319?type=promoted    3
https://www.seek.com.au//job/56703498?type=promoted    3
https://www.seek.com.au//job/56977806?type=promoted    3
https://www.seek.com.au//job/57010204?type=promoted    3
https://www.seek.com.au//job/56903744?type=promoted    2
                                                      ..
https://www.seek.com.au//job/56958493?type=standard    1
https://www.seek.com.au//job/56801787?type=standout    1
https://www.seek.com.au//job/56972236?type=standout    1
https://www.seek.com.au//job/56697889?type=standout    1
https://www.seek.com.au//job/56953060?type=standout    1
Name: link, Length: 511, dtype: int64

In [66]:
df_job = pd.read_csv('data/job-content.csv')

In [67]:
df_job.head()

,title,company,location,classification,sub_classification,salary,work_type,posted_date,description
0,RQmedia - SEM expert - Google,Dynamic Creative,Adelaide,Marketing & Communications,Digital & Search Marketing,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <p>\n <stro..."
1,"Applied Intelligence Support (Data Hub, AiOps,...",DXC Technology Australia & New Zealand,Adelaide,Information & Communication Technology,Business/Systems Analysts,0,Full time,16d,"<div class=""yvsb870 _1v38w810"">\n <p>\n DXC T..."
2,Senior Data Analyst,SA Health,Adelaide,Information & Communication Technology,Business/Systems Analysts,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <ul>\n <li>..."
3,ASO6 Data Analyst (Multiple Positions),Department for Education,Adelaide,Science & Technology,"Mathematics, Statistics & Information Sciences",0,Contract/Temp,10d,"<div class=""yvsb870 _1v38w810"">\n <p>\n The D..."
4,ASO6 Data Analyst (Multiple Positions),Department for Education,Adelaide,Government & Defence,Government - State,0,Contract/Temp,10d,"<div class=""yvsb870 _1v38w810"">\n <p>\n The D..."

In [68]:
df_job.shape

(523, 9)

In [69]:
df_job

,title,company,location,classification,sub_classification,salary,work_type,posted_date,description
0,RQmedia - SEM expert - Google,Dynamic Creative,Adelaide,Marketing & Communications,Digital & Search Marketing,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <p>\n <stro..."
1,"Applied Intelligence Support (Data Hub, AiOps,...",DXC Technology Australia & New Zealand,Adelaide,Information & Communication Technology,Business/Systems Analysts,0,Full time,16d,"<div class=""yvsb870 _1v38w810"">\n <p>\n DXC T..."
2,Senior Data Analyst,SA Health,Adelaide,Information & Communication Technology,Business/Systems Analysts,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <ul>\n <li>..."
3,ASO6 Data Analyst (Multiple Positions),Department for Education,Adelaide,Science & Technology,"Mathematics, Statistics & Information Sciences",0,Contract/Temp,10d,"<div class=""yvsb870 _1v38w810"">\n <p>\n The D..."
4,ASO6 Data Analyst (Multiple Positions),Department for Education,Adelaide,Government & Defence,Government - State,0,Contract/Temp,10d,"<div class=""yvsb870 _1v38w810"">\n <p>\n The D..."
...,...,...,...,...,...,...,...,...,...
518,Property Operations Support Coordinator,Yugo Australia Pty Ltd,Adelaide,Administration & Office Support,Administrative Assistants,0,Contract/Temp,28d,"<div class=""yvsb870 _1v38w810"">\n <p>\n Yugo ..."
519,"Postdoctoral Researcer, Bioinformatics and Hum...",SAHMRI,Adelaide,Science & Technology,Biological & Biomedical Sciences,"$75,000 - $95,000 + super (with salary packaging)",Full time,28d,"<div class=""yvsb870 _1v38w810"">\n <p>\n <stro..."
520,Procurement/Purchasing Manager,Private Advertiser,Adelaide,"Manufacturing, Transport & Logistics",Management,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <p>\n </p>\n..."
521,Senior Software Engineer,Miniprobes Pty Ltd,Adelaide,Information & Communication Technology,Engineering - Software,"$100,000 - $145,000",Full time,6d,"<div class=""yvsb870 _1v38w810"">\n <p>\n Do yo..."
522,Data Officer- Wellness Connect National Psycho...,Neami National Limited,Adelaide,Community Services & Development,Community Development,"CSS Level 3 $74,253 - $79,890 (pro rata)",Part time,7d,"<div class=""yvsb870 _1v38w810"">\n <p>\n <stro..."

In [70]:
df_job.columns

Index(['title', 'company', 'location', 'classification', 'sub_classification',
       'salary', 'work_type', 'posted_date', 'description'],
      dtype='object')

In [71]:
df_job.location.value_counts()

Adelaide    523
Name: location, dtype: int64

In [72]:
df_job.classification.value_counts()

Information & Communication Technology    196
Government & Defence                       71
Accounting                                 39
Science & Technology                       29
Education & Training                       28
Marketing & Communications                 20
Administration & Office Support            17
Consulting & Strategy                      16
Manufacturing, Transport & Logistics       13
Banking & Financial Services               12
Healthcare & Medical                       10
Engineering                                10
Human Resources & Recruitment               8
Call Centre & Customer Service              8
Sales                                       6
Mining, Resources & Energy                  6
Trades & Services                           5
Construction                                5
Real Estate & Property                      4
Legal                                       3
Retail & Consumer Products                  3
Design & Architecture                       3
Community Services & Development            3
Insurance & Superannuation                  3
Hospitality & Tourism                       2
Farming, Animals & Conservation             1
Advertising, Arts & Media                   1
Sport & Recreation                          1
Name: classification, dtype: int64

In [73]:
df_job.sub_classification.value_counts()

Business/Systems Analysts    62
Other                        51
Government - Federal         26
Government - State           24
Engineering - Software       20
                             ..
Merchandisers                 1
Web & Interaction Design      1
Recruitment - Internal        1
Teaching - Tertiary           1
Community Development         1
Name: sub_classification, Length: 105, dtype: int64

In [74]:
df_job.company.value_counts()

Department of Defence                                           22
University of South Australia                                   16
SA Health                                                       13
Talent – SEEK Recruitment Agency of the Year | 7 Time Winner    10
Robert Walters                                                  10
                                                                ..
Synaco Global Recruitment Pty Ltd                                1
Tactic Lab Pty Ltd                                               1
Cobham Aviation Services Australia                               1
Jonas Software Australia                                         1
Neami National Limited                                           1
Name: company, Length: 242, dtype: int64

In [75]:
df_job.posted_date.value_counts()

6d      46
2d      38
8d      36
15d     33
9d      30
13d     29
16d     28
10d     27
7d      24
22d     23
20d     23
1d      23
14d     22
28d     19
21d     18
3d      18
23d     18
17d     15
27d     13
29d      8
9h       6
8h       5
30d+     4
25d      3
5d       3
6        1
7h       1
12d      1
26d      1
11d      1
18d      1
4d       1
5h       1
23h      1
21h      1
6h       1
Name: posted_date, dtype: int64

In [76]:
df_job.head()

,title,company,location,classification,sub_classification,salary,work_type,posted_date,description
0,RQmedia - SEM expert - Google,Dynamic Creative,Adelaide,Marketing & Communications,Digital & Search Marketing,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <p>\n <stro..."
1,"Applied Intelligence Support (Data Hub, AiOps,...",DXC Technology Australia & New Zealand,Adelaide,Information & Communication Technology,Business/Systems Analysts,0,Full time,16d,"<div class=""yvsb870 _1v38w810"">\n <p>\n DXC T..."
2,Senior Data Analyst,SA Health,Adelaide,Information & Communication Technology,Business/Systems Analysts,0,Full time,2d,"<div class=""yvsb870 _1v38w810"">\n <ul>\n <li>..."
3,ASO6 Data Analyst (Multiple Positions),Department for Education,Adelaide,Science & Technology,"Mathematics, Statistics & Information Sciences",0,Contract/Temp,10d,"<div class=""yvsb870 _1v38w810"">\n <p>\n The D..."
4,ASO6 Data Analyst (Multiple Positions),Department for Education,Adelaide,Government & Defence,Government - State,0,Contract/Temp,10d,"<div class=""yvsb870 _1v38w810"">\n <p>\n The D..."

In [77]:
df_job.work_type.value_counts()

Full time          455
Contract/Temp       60
Part time            5
Casual/Vacation      3
Name: work_type, dtype: int64

In [78]:
df_job.salary.value_counts()

0                                                   318
$25,000 - $29,999                                     6
Competitive                                           5
$76,260 - $97,454 per annum, plus superannuation      4
Permanent role. Benefits. Annual bonus.               4
                                                   ...
$130,000 - $140,000 + Super + Share Options           1
$80,000 - $120,000                                    1
Genuine Work Life Balance - competitive salary        1
$88592 - $94938 p.a. + plus 17% Super                 1
CSS Level 3 $74,253 - $79,890 (pro rata)              1
Name: salary, Length: 135, dtype: int64

In [79]:
df_job.description[0]

'<div class="yvsb870 _1v38w810">\n <p>\n  <strong>\n   Make your mark at RQmedia - hiring experienced SEM professionals.\n  </strong>\n </p>\n <p>\n  <strong>\n   We are a full funnel - omni channel media agency who specialise in e-commerce.\n  </strong>\n </p>\n <p>\n  <strong>\n   No matter where you live, we are interested in talking to you.\n  </strong>\n </p>\n <p>\n  This is an outstanding opportunity for an experienced SEM exec. Join RQmedia and kick our customers\' performance goals. \xa0You need to be results driven, accountable for your strategy and optimisation decisions, be a great communicator and thrive in the fast paced industry.\n </p>\n <p>\n  SEM Advertising executive will have:\n </p>\n <ul>\n  <li>\n   Proven Google ads implementation for ecommerce over a number of years\n  </li>\n  <li>\n   Customer Results Oriented - the only thing that matters is meeting and exceeding our customers\' business goals\n  </li>\n  <li>\n   Able to work across a large number of customers\n  </li>\n  <li>\n   Know all Google ad formats and how to optimise them\n   <br/>\n   <br/>\n   <strong>\n    Required as a minimum:\n   </strong>\n  </li>\n  <li>\n   5+ years SEM experience\n  </li>\n  <li>\n   Know Google Ads inside out - this is essential\n  </li>\n  <li>\n   Knowledge of Facebook/Instagram advertising an advantage\n  </li>\n  <li>\n   Confident presenter and communicator\n  </li>\n  <li>\n   Ability to deliver\xa0customer promises and KPIs\n  </li>\n  <li>\n   Excellent English writing ability\n  </li>\n  <li>\n   Excellent communication skills and a team player\n  </li>\n  <li>\n   Ability to manage multiple tasks and meet scheduled due dates\n  </li>\n  <li>\n   Ability to analyse, report and act on data\n  </li>\n </ul>\n <p>\n  If this sounds like you, and you would like to secure a position in a market-leading media agency , send your\n  <strong>\n   resume\n  </strong>\n  , a short\n  <strong>\n   cover letter\n  </strong>\n  via Seek addressing the criteria above.\n </p>\n <p>\n </p>\n <p>\n  This job is only open to Australian permanent residents and citizens. No Agencies please.\n </p>\n <p>\n  <br/>\n </p>\n</div>'